body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
  font-size: 14px
}

.container{
  max-width: 1200px;
  margin: auto;
}

h1{
  color: rgb(24, 9, 240);
  font: normal 600 33px roboto
}